.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopcategory-indexSort {
    display: flex;
    margin: 0px auto; /* Center align horizontally */
    justify-content: space-between;
    align-items: center;
    width: 82%; /* Adjust width as needed */
}

.shopcategory-sort {
    display: flex;
    width: auto;
    gap: 10px;
    align-items: center;
}

.shopcategory-indexSort p span {
    font-weight: 600;
}

.shopcategory-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto; /* Adjust margin as needed */
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    font-size: 18px;
    color: #787878;
    font-weight: 500;
}

@media (max-width: 1280px) {
    .shopcategory-banner {
        margin: 20px auto;
        width: 90%;
    }
    .shopcategory-indexSort {
        width: 90%;
        margin: auto;
    }
    .shopcategory-sort {
        margin-top: 10px;
        font-size: 14px;
    }
    .shopcategory-indexSort p{
        font-size: 12px;
    }
    .shopcategory-products{
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .shopcategory-products .item{
        margin: auto;
    }
    .shopcategory-loadmore{
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}
@media (max-width:800px){
    .shopcategory-banner{
        width: 95%;
    }
    .shopcategory-products{
        width: 95%;
    }
    .shopcategory-loadmore{
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
}
@media (max-width:500px){
    .shop-category {
        margin: 0;
        padding: 0;
    }
    .shopcategory-banner {
        width: 100%;
        margin: 10px 0;
    }
    .shopcategory-indexSort {
        width: 100%;
        padding: 0 10px;
        margin: 10px 0;
    }
    .shopcategory-products{
        grid-template-columns: 1fr 1fr;
        width: 100%;
        padding: 0 10px;
        gap: 10px;
        margin: 20px 0;
        row-gap: 20px;
    }
    .shopcategory-loadmore{
        margin: 30px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
}
